#carapp {
  background-color: #2C5A77;
}

#carapp .main-container {
  max-width: 60%;
  overflow-y: auto;
}

#carapp .car-list-container {
  background-color: lightgray;
  overflow-x: hidden;
  overflow-y: auto;
}

#carapp div.card {
  cursor: pointer;
  margin: 25px;
}

#carapp div.card:hover {
  background-color: lightblue;
}

.car-modal .modal-body .row {
  margin-bottom: 10px;
}

.car-modal .modal-body .row .col-3 label {
  float: right;
  font-weight: bold;
  margin-top: 7px;
  text-align: right;
}

#carapp .sort-by-select {
  width: 100px;
}

#carapp .search-filter-input {
  width: 300px;
}

#carapp .navbar-actions {
  width: 100%;
}

#carapp .navbar-actions > button,
#carapp .navbar-actions > input,
#carapp .navbar-actions > select,
#carapp .navbar-actions > label {
  float: right;
  margin-right: 10px;
}

#carapp .navbar-actions > label {
  margin-top: 7px;
}